.page.theme_light {
  --main-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --title-text-color: #FFC2E6;
  --text-color-semi-transparent: #32312D66;
  background-color: #FFF1F7;
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme:light) {
  :root {
    --main-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --title-text-color: #FFC2E6;
    --text-color-semi-transparent: #32312D66;
  }
}

.page.theme_light .decor {
  border-color: var(--text-color);
}

.page.theme_light .header__theme-menu-button:hover {
  border: 1px solid var(--text-color-semi-transparent);
}

.page.theme_light .dark-theme-only {
  display: none;
}

.page.theme_light .content__header {
  color: var(--text-color);
}

.page.theme_light .section__header {
  color: var(--text-color);
}

.page.theme_light .header__text {
  color: var(--text-color);
}

.page.theme_light .header__theme-menu-button {
  color: var(--text-color);
}

.page.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--text-color);
}